openapi: 3.0.3
info:
  contact:
    email: sebastien.galvagno@imev-mer.fr
  description: API to manage scan from Zooscan
  title: ZooProcess API
  version: v1
servers:
- url: http://zooprocess.imev-mer.fr:8081/v1
tags:
- description: User related operations
  name: User
- description: Manager related operations
  name: Manager
paths:

  /projects:
    get:
      description: Return the project list
      operationId: Projects.list
      responses:
        '200':
          description: Returned the project list
          content:
            application/json:
              schema:
                title: Response get the list of projects
                type: array
                items:
                  $ref: '#/components/schemas/Project'
      tags:
      - User

    post:
      tags:
        - User
      summary: Add a new project 
      description: Add a new project
      operationId: Projects.create
      requestBody:
        description: Create a new project
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'

      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'          
        '405':
          description: Invalid input

  /drives:
    get:
      description: Return the drive list
      operationId: Drives.list
      responses:
        '200':
          description: Returned the project list
          content:
            application/json:
              schema:
                title: Response get the list of drives
                type: array
                items:
                  $ref: '#/components/schemas/Drive'
      tags:
      - User

    post:
      tags:
        - User
      summary: Add a new drive 
      description: Add a new drive
      operationId: Drives.create
      requestBody:
        description: Create a new drive
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Drive'

      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'          
        '405':
          description: Invalid input


components:
  schemas:
    Project:
      required:
        - id
        - name
      properties:
        id:
          readOnly: true
          type: string
        name:
          type: string

    Drive:
      required:
        - id
        - name

      properties:
        id:
          readOnly: true
          type: string
        name:
          type: string
        url:
          type: string


